page-home {
  .icono{
  	color: #1565c0;
  	font-size:40px;
  }
  .icon2{
  	color: #ff5252;
  	font-size:40px;
  }
  .items{
  	p{
  		margin-left: 2px;
  	}
  	h3{
  		margin-left: 2px;
  	}
  }


}